body {
    background-color: black;
}

a {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
    float: left;
}

#cuadrito1 {
    background-color: rgb(35, 35, 35);
}

#cuadrito2 {
    background-color: rgb(255, 255, 255);
}

#cuadrito1,
#cuadrito2 {
    height: 50px;
    width: 50px;
    display: inline-block;
}

#contenedor1 {
    height: 420px;
    width: 420px;
    background-color: rgb(252, 157, 85);
}