* {
    margin: 0px;
    padding: 0px;
}

.contenedor {
    width: 800px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cuadrito {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;

    animation: cuadrito 3s infinite forwards;
}

@keyframes cuadrito {

    /* de arriba a abajo */
    /* 0%{
                    top: 0px;
                    left: 0px;
                }
                50%{
                    top: 200px;
                    left: 350px;
                    
                }
                100%{
                    top: 0px;
                    left: 700px;
                } */
    /* de arriba a abajo */
    0% {
        top: 100px;
        left: -100px;
        rotate: 45deg;
    }

    33% {
        top: 0px;
        left: 350px;
        rotate: 0deg;

    }

    66% {
        top: 200px;
        left: 350px;
        rotate: 45deg;
    }

    100% {
        top: 100px;
        left: 800px;
        rotate: 0deg;
    }
}

.pajaro {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.cielo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -2;
}

.pradera {
    position: absolute;
    top: -450px;
    left: 0px;
    width: 100%;
    z-index: -1;
}


.cuadrito2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;

    animation: cuadrito 5s infinite forwards;
}

.pajaro2 {
    width: 80%;
    left: -100px;
    position: absolute;
    z-index: 0;
}

@keyframes cuadrito {
    0% {
        top: 100px;
        left: -100px;
        rotate: 45deg;
    }

    33% {
        top: 0px;
        left: 350px;
        rotate: 0deg;

    }

    66% {
        top: 200px;
        left: 350px;
        rotate: 45deg;
    }

    100% {
        top: 100px;
        left: 800px;
        rotate: 0deg;
    }
}